name: Python Tests
on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: |
            3.5
            3.6
            3.7
            3.8
            3.9
            3.10
            3.11
    - name: Install dependencies
      run: pip install tox
    - name: Run tests
      run: tox
